  body {
            background-color: #040329;
            color: #fff;
        }

        .navbar {
            background-color: #00054d;
        }

        .card {
            background-color: #0a095f;
            border: none;
        }

        .card img {
            border-radius: 5px;
        }

        .carousel-item img {
            height: 500px;
            object-fit: cover;
        }

        .category-title {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

       
        .container {
            max-width: 1000px;
        }
        .favorite-card {
            border-radius: 1rem;
            overflow: hidden;
        }
        .table thead {
            background-color: #3b82f6; /* Color primario de Tailwind */
            color: white;
        }
        .btn-delete {
            transition: background-color 0.15s ease-in-out;
        }
        .btn-delete:hover {
            background-color: #ef4444 !important; /* Rojo más oscuro */
        }